// Explorer.scss


.explorer {
  color: #eef5ff;
  font-size: .85rem;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-bottom: 0.1rem;
  }
}

.folder-item {
  ul {
    margin-left: 1rem;
  }

  border-left: 1px rgba(89, 89, 89, 0.3);
  border-style: solid;
}

.folder-label, .file-label {
  margin: 0;
  // padding: 0.2rem;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(89, 89, 89, 0.2);
  }
}

.file-label {
  padding-left: 1.5rem;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #ffb022;
    }
  }
}
