---
import './BaseLayout.scss';
import Explorer from "../components/Explorer.astro";
const {frontmatter: metadata} = Astro.props;
const title = metadata.frontmatter ? metadata.frontmatter.title ?? "T'is should be the title" : metadata.title;
---

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{title}</title>
</head>
<body id="file_baselayout">
<div class="grid grid-cols-[25%_60%_15%] grid-rows-[120px_minmax(900px,_1fr)]">
    <div class="explorer"/>
    <nav class="top-middle"/>
    <div class="top-right"/>
    <Explorer/>
    <section class="px-10 border-[#585858] border-opacity-20 border-r-4 mb-20">
        <h1 style="color: #ffb022; font-size: 2.5rem; margin-bottom: 0">{title}</h1>
        <a href="/" style="opacity: .2;">Back to the Index</a>
        <div class="file-content">
            <slot/>
        </div>
    </section>
    <div/>
</div>
</body>
</html>

<style>
    :global(h1) {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    :global(h2) {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    :global(h3) {
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>