---
import './styles/BaseLayout.scss';
import '../styles/global.css'
import Explorer from "../components/Explorer.astro";
import Login from "../components/Login";


const {frontmatter: metadata} = Astro.props;
const title = metadata.frontmatter ? metadata.frontmatter.title ?? "T'is should be the title" : metadata.title;
const allowedUsers = metadata.frontmatter?.allowedUsers ?? [];
---

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{title}</title>
</head>
<body id="file_baselayout">

<div class="flex flex-row h-full mr-0">
    <!-- Left Sidebar -->
    <div class="explorer-wrapper w-[25%] h-screen">
        <Explorer/>
    </div>

    <!-- Main Content Area -->
    <div class="flex flex-col w-[60%] h-full">
        <!-- Top Header Row -->
        <div class="flex h-[120px] w-full">
            <nav class="top-middle w-[60%]"/>

            <div class="top-right w-[40%]">
                <Login client:only="preact"/>
            </div>
        </div>


        <div class="flex md:flex-col flex-1 min-h-[900px]">
            <!-- Main Content Section -->
            <section class="w-[85%] px-10 border-[#585858] border-opacity-20 border-r-4 mb-20">
                <h1 style="color: #ffb022; font-size: 2.5rem; margin-bottom: 0">{title}</h1>
                <a href="/" style="opacity: .2;">Back to the Index</a>
                <div class="file-content">
                    <slot/>
                </div>
            </section>

            <!-- Right Spacer -->
            <div class="md:w-[15%] md:h-[200px]"/>
        </div>
    </div>
</div>

</body>
</html>

<style>
    :global(h1) {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    :global(h2) {
        font-size: 1.75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    :global(h3) {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    :global(h4) {
        color: #ffb022;
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>
